html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, main, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

:focus {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

abbr[title] {
  cursor: help; }

fieldset {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  position: static; }

legend {
  left: auto;
  margin: 0;
  padding: 0;
  position: static;
  top: auto; }

address {
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0; }

::-moz-selection {
  background: #adadad;
  color: #fff; }

::selection {
  background: #adadad;
  color: #fff; }

p {
  margin: 0;
  padding: 0 0 15px 0; }

a {
  color: #adadad;
  text-decoration: none; }
  a:hover {
    color: #0083cb;
    text-decoration: none; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: bold; }

small {
  color: #888;
  font-size: 85%;
  line-height: 85%; }

sub, sup {
  font-size: 85%;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  display: block;
  margin: 0 auto;
  padding: 0;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  max-width: 100%; }
  a:hover img {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80); }
  img:not([alt]) {
    border: none; }
    .cms img:not([alt]), .m-map img:not([alt]) {
      border: 0; }

figure {
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center; }
  figure figcaption {
    color: #888;
    font-style: italic;
    margin: 0;
    padding: 10px 0 0 0; }

button, html input[type="button"], html input[type="reset"], html input[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0 0 10px 25px; }
  ul li, ol li {
    margin: 0;
    padding: 0 0 5px 0; }

ol {
  list-style: decimal; }
  ol ol {
    list-style: lower-alpha; }
    ol ol ol {
      list-style: lower-roman; }

dl {
  margin: 0;
  padding: 0 0 10px 0; }
  dl dt {
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0 0 5px 0; }
  dl dd {
    display: block;
    margin: 0;
    padding: 0 0 5px 0; }

pre {
  color: #E30613;
  font-family: Courier New, Courier, monospace;
  font-size: 13px;
  max-height: 300px;
  line-height: 16px;
  margin: 0 0 15px 0;
  overflow: auto;
  padding: 0; }
  @media screen and (min-width: 788px) {
    pre {
      max-height: 500px; } }

[name*=" "] {
  border: 2px solid red !important; }

html {
  min-width: 320px; }

.header {
  background-color: white;
  height: 70px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2; }
  .header .logo {
    max-width: 1200px;
    margin: auto; }
    .header .logo .image {
      background-image: url(../images/logo2.gif);
      background-repeat: no-repeat;
      background-size: contain;
      height: 70px; }
      @media (max-width: 479px) {
        .header .logo .image {
          height: 60px;
          margin-top: 5px; } }

.nav {
  position: relative;
  top: -47px;
  text-align: right;
  max-width: 1200px;
  margin: auto; }
  @media (min-width: 480px) and (max-width: 766px) {
    .nav {
      display: none; } }
  @media (max-width: 479px) {
    .nav {
      display: none; } }
  .nav .list {
    list-style: none; }
    .nav .list .level1 {
      margin: 0;
      padding: 10px;
      display: inline; }
      .nav .list .level1 .primary {
        font-family: 'Oswald', sans-serif;
        color: black;
        text-decoration: none;
        font-size: 24px; }
        .nav .list .level1 .primary:hover {
          color: red; }

.mobilenav {
  display: none; }
  @media (min-width: 480px) and (max-width: 766px) {
    .mobilenav {
      display: block; } }
  @media (max-width: 479px) {
    .mobilenav {
      display: block; } }
  .mobilenav .toggle {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px;
    font-size: 50px;
    color: #E30613; }
  .mobilenav .mobnav {
    height: 0;
    overflow: hidden; }
    .mobilenav .mobnav .list {
      list-style: none;
      text-align: center;
      background-color: white;
      padding: 0; }
      .mobilenav .mobnav .list .level1 {
        margin: 0;
        padding: 7px 0;
        border-bottom: 1px solid #ccc; }
        .mobilenav .mobnav .list .level1 .primary {
          color: #E30613;
          font-family: 'oswald';
          font-size: 30px; }

.content {
  padding-top: 71px; }
  .content .welcome {
    height: 600px; }
    .content .welcome .image {
      background-image: url(../images/html.jpg);
      background-repeat: no-repeat;
      height: 100%; }
    .content .welcome .primary {
      color: white;
      position: absolute;
      top: 425px;
      right: 175px;
      font-size: 79px;
      font-family: 'Oswald', sans-serif;
      width: 480px; }
      @media (min-width: 480px) and (max-width: 766px) {
        .content .welcome .primary {
          top: 415px;
          right: 5px;
          font-size: 60px;
          width: 390px; } }
      @media (max-width: 479px) {
        .content .welcome .primary {
          top: 390px;
          right: 5px;
          font-size: 60px;
          width: 315px; } }
  .content .section {
    padding-bottom: 40px; }
    .content .section .primary {
      font-size: 50px;
      font-family: 'Oswald', sans-serif;
      text-align: center;
      padding: 30px 0; }
    .content .section .container, .content .section .row {
      max-width: 1200px;
      margin: auto; }
      .content .section .container .primary, .content .section .row .primary {
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        text-align: center; }
      .content .section .container .secondary, .content .section .row .secondary {
        font-size: 20px;
        font-weight: 100;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        line-height: 25px; }
        @media (max-width: 479px) {
          .content .section .container .secondary, .content .section .row .secondary {
            font-size: 17px; } }
      .content .section .container .image, .content .section .row .image {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        border: none;
        padding: 0; }
    .content .section .link {
      text-align: center;
      font-family: 'Oswald', sans-serif;
      color: black; }
      .content .section .link:hover {
        color: #E30613; }
  .content .contact, .content .about {
    background-color: #E30613;
    color: white; }
    .content .contact .map, .content .about .map {
      height: 450px;
      float: none;
      margin-bottom: 20px; }
      @media (max-width: 479px) {
        .content .contact .map, .content .about .map {
          height: 350px; } }
    .content .contact .subheading, .content .contact .secondary, .content .about .subheading, .content .about .secondary {
      font-size: 25px;
      font-family: 'Oswald', sans-serif;
      color: white; }
    .content .contact .secondary, .content .about .secondary {
      line-height: 30px;
      font-weight: 100; }
    .content .contact .message, .content .about .message {
      float: right;
      color: black; }
      .content .contact .message input, .content .contact .message textarea, .content .about .message input, .content .about .message textarea {
        height: 30px;
        width: 450px;
        margin-bottom: 20px;
        border-radius: 3px;
        border: none; }
        @media (max-width: 479px) {
          .content .contact .message input, .content .contact .message textarea, .content .about .message input, .content .about .message textarea {
            width: 100%; } }
      .content .contact .message textarea, .content .about .message textarea {
        height: 120px; }
      .content .contact .message .send, .content .about .message .send {
        border-radius: 5px;
        background-color: #1679B0;
        color: white;
        border: none;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        padding: 15px 20px; }
        .content .contact .message .send:hover, .content .about .message .send:hover {
          background-color: white;
          color: #1679B0; }
    .content .contact .list, .content .about .list {
      list-style: none; }
      .content .contact .list .level1 .secondary, .content .about .list .level1 .secondary {
        text-align: left; }

.offscreen {
  height: 0;
  left: -9999px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  width: 0;
  z-index: -1; }

.hide {
  display: none; }

.touch .hide-on-touch {
  display: none; }

.no-touch .hide-on-no-touch {
  display: none; }

@media screen and (max-width: 499px) {
  .hide-on-mobile {
    display: none; } }

@media screen and (min-width: 500px) and (max-width: 559px) {
  .hide-on-mobile-large {
    display: none; } }

@media screen and (min-width: 560px) and (max-width: 787px) {
  .hide-on-tablet {
    display: none; } }

@media screen and (min-width: 788px) and (max-width: 979px) {
  .hide-on-tablet-large {
    display: none; } }

@media screen and (min-width: 980px) and (max-width: 1154px) {
  .hide-on-desktop {
    display: none; } }

@media screen and (min-width: 1155px) and (max-width: 1219px) {
  .hide-on-desktop-large {
    display: none; } }

@media screen and (min-width: 1220px) {
  .hide-on-large {
    display: none; } }

.js .hide-on-js {
  display: none; }

.no-js .show-on-js {
  display: none; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

.last {
  padding-bottom: 0; }

.clearfix:after, .form-wrapper:after, .form-row:after, .form-action:after, .cms:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

* html .clearfix, * html .form-wrapper, * html .form-row, * html .form-action, * html .cms {
  height: 1%; }

/*# sourceMappingURL=site.css.map */
